.App {
    text-align: center;
}
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {

    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    margin-bottom : 40px;
    display: flex;
    flex-direction: column;
}

header > section {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

header > section > div {
    position: relative;
    margin-left: 20px;
    box-sizing: content-box;
}

header > section > div > #logo{
    margin-top: 15px;
    width: 120px;
    height: 30px;
    content: url(./assets/images/logo.png)
}

header > section > div #shoppingCart{
    position: absolute;
    top: 25px;
    width: 30px;
    height: 30px;
    content: url(./assets/images/shopping-cart.png);
}

header img:hover{
    cursor: pointer
}


header > section > .quickMenu {
    text-align: center;
}

header > section > .quickMenu > div {
    position: relative;
    height: 50px;
    display: inline-block;
}

header > section > .quickMenu > div > span {
    font-size: 20px;
    line-height: 50px;
    font-family: "RixheadB";
    cursor: pointer;
}

header > section > .quickMenu > div > * {
    margin-right: 15px;
}

body{

}


